* {
  box-sizing: border-box !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.es-tree {
  display: flex;
  position: relative;
  margin-bottom: 50px;
  background: #eceff1;
  overflow: auto;
  width: 100%;

  .es-branch {
    background-color: #fff;
    height: 400px;
    min-width: 25%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(5, 84, 141, 0.12),
      0 1px 2px rgba(5, 84, 141, 0.24);
    padding-bottom: 40px;
    position: relative;

    .es-branch_header {
      background-color: #f9f9f9;
      border-bottom: 1px solid rgba(116, 118, 120, 0.1);
      position: relative;
      cursor: pointer;
      width: 100%;
      height: 45px;
      display: flex;

      input {
        width: 100%;
      }
    }

    .es-branch_body {
      position: relative;
      overflow: auto;
      width: 100%;
      height: 100%;
    }

    .es-branch_footer {
      display: flex;
      position: absolute;
      bottom: 0;
      background: #f5f6f8;
      width: 100%;
      overflow: hidden;
    }

    .es-leaf_btn {
      height: inherit;
      border: none;
      background-color: #dddddd;
      width: 40px;
      &:focus {
        outline: none;
        border: 1px solid #474747;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  .es-leaf {
    border-bottom: 1px solid rgba(116, 118, 120, 0.1);
    position: relative;
    background: url(/static/media/arrow-right.f402831b.svg) no-repeat;
    background-size: 10px;
    background-position: 95% 50%;
    width: 100%;
    height: 40px;

    .es-leaf_confirm {
      display: flex;
      font-size: 0.85rem;
      padding-left: 0.5rem;
      align-items: center;
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #eceff1;
      span {
        margin: 0 0.2rem;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }

  .es-leaf_active {
    background-color: #2499ef;
    input {
      color: white;
    }
  }

  .es-leaf_input {
    background: transparent;
    cursor: pointer;
    padding: 0.8rem 0rem;
    padding-left: 0.2rem;
    border: 0;
    margin: 0;
    width: calc(100% - 40px);
    height: 100%;

    &:focus {
      outline: none;
      border: 1px solid #474747;
    }
  }

  .es-leaf_textarea {
    height: calc(400px - 120px);
    width: 100%;
    resize: none;

    &:focus {
      outline: none;
      border: 1px solid #474747;
    }
  }
}
